<extend name="common/base" />
<!--模板继承 业务内容-->
<block name="content">
    <title>
        <if  condition="$option eq 'add'">添加<else/>编辑</if>管理员 - 用户管理
    </title>
    </head>
    <body>
    <article class="page-container">
        <form action="{:url('member/admin_edit')}" method="post" class="form form-horizontal" id="form-admin-add">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$list['user_login']?$list['user_login']: ''}" placeholder="至少六个字符" id="user_login" name="user_login">
                    </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>真实姓名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{$list['realname']?$list['realname']: ''}" placeholder="" id="realname" name="realname">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text" autocomplete="off" value="{$list['password']?'******': ''}" placeholder="至少六个字符" id="password" name="password">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{$list['mobile']?$list['mobile']: ''}" placeholder="" id="mobilr" name="mobile">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <foreach name="roles" item="vo">
                        <label class="checkbox inline">
                            <php>$role_id_checked=($vo['id']==$list['user_type'])?"checked":"";</php>
                            <input value="{$vo.id}" type="radio" name="user_type" {$role_id_checked} >{$vo.name}
                        </label>
                    </foreach>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input name="" type="submit" class="btn btn-success radius size-S" value="&nbsp;提&nbsp;&nbsp;交&nbsp;">
                    <input name="" type="reset" class="btn btn-default radius size-S" value="&nbsp;取&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
            <input type="hidden" name="option" value="{$option}"/>
            <input type="hidden" name="id" value="{$id}"/>
            {:token()}
        </form>
    </article>
</block>
<!--模板继承 业务相关的脚本-->
<block name="js">
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">

    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</block>