<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>地址管理-编辑</title>
		<script src="__PUBLIC__/static/style/js/index.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/static/style/css/style_w.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<style type="text/css">
			/*帮助中心*/
			
			.help-info {
				line-height: 2em;
				color: gray;
				font-size: .28rem;
				padding: 0 .2rem;
				box-sizing: border-box;
				text-align: justify;
				text-align-last: left;
			}
			.help-info  p{
				text-indent: 0.65rem;
			}
			/*帮助中心*/
		</style>
	</head>

	<body>
		<div class="wrap">
			<div class="datalist">
				<foreach name="list_center" item="vo">
					<div class="row">
						<div>{$vo['title']}</div>
						<img src="__PUBLIC__/static/style/images/inquiry/TurnContent-Help.png" class="help-img" />
					</div>
					<div class="help-info" hidden>
						{$vo['content']}
					</div>
				</foreach>
			</div>
		</div>
		<script>
			get.fontSize();
			$(".datalist").on("click", ".row", function() {
				$(this).next().toggle();
			})
		</script>
	</body>

</html>