<extend name="common/base" />
<!--模板继承 业务内容-->
<block name="content">
    <title>
        <if  condition="$option eq 'add'">添加<else/>编辑</if>筛选条件
    </title>
    </head>
    <body>
    <div class="page-container">
        <form class="form form-horizontal" id="form-article-add" action="{:url('specialservice/filter_edit')}" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">所属服务：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box">
                    <select name="service_name" id="service_name" class="select">
                        <option value="">--请选择--</option>
                        <option value="园区服务">园区服务</option>
                        <option value="资质转让">资质转让</option>
                        <option value="天猫转让">天猫转让</option>
                    </select>
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">筛选条件：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{$list['condition'] ?$list['condition']: ''}" placeholder="" id="" name="condition">
                </div>
            </div>

            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <input name="" type="submit" class="btn btn-primary radius Hui-iconfont" value="&#xe632;保存">
                    <input name="" type="reset" class="btn btn-default radius size-S" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
            <input type="hidden" name="option" value="{$option}"/>
            <input type="hidden" name="id" value="{$id}"/>
            {:token()}
        </form>
    </div>
</block>
<!--模板继承 业务相关的脚本-->
<block name="js">
    <!--此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });
            var ser = "{$list.service_name}";
            $("#service_name option[value="+ser+"]").attr("selected",true);

        });
    </script>
</block>