<extend name="common/base" />
<!--模板继承 业务内容-->
<block name="content">
<title>角色管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray">
	 	<span class="l">
	 		<a class="btn btn-primary radius" href="{:url('role/role_edit','option=add')}"><i class="Hui-iconfont">&#xe600;</i> 添加角色</a> 
	 	</span> 
	 </div>
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr>
				<th scope="col" colspan="6">角色管理</th>
			</tr>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="100">角色名</th>
				<th width="200">描述</th>
				<th width="60">角色状态</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name='list' id='vo'>
				<tr class="text-c">
					<td>{$vo['id']}</td>
					<td>{$vo['name']}</td>
					<td>{$vo['remark']}</td>
					<td class="td-status">
						<span class="label {$vo['status_text'] == '正常' ? 'label-success' : 'label-defaunt'} radius">{$vo['status_text']}</span>
					</td>
					<td class="f-14 td-manage">
						<if condition="$vo['id'] eq 1">
							<if condition="$vo['status_text'] == '正常'">
							    <font color="#cccccc"><i class="Hui-iconfont" style="font-size:20px;">&#xe631;</i></font>|
							<else/>
								<font color="#cccccc"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e1;</i></font>|
							</if>
							<font color="#cccccc"><i class="Hui-iconfont" style="font-size:20px;">&#xe6df;</i></font> |
							<font color="#cccccc"><i class="Hui-iconfont" style="font-size:20px;">&#xe61d;</i></font> |
							<font color="#cccccc"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e2;</i></font>
						<else/>
							<if condition="$vo['status_text'] == '正常'">
								<a style="text-decoration:none" onClick="admin_role_stop(this,'{$vo['id']}',2)" href="javascript:;" title="禁用"><i class="Hui-iconfont" style="font-size:20px;">&#xe631;</i></a>
							<else />
								<a style="text-decoration:none" onClick="admin_role_start(this,'{$vo['id']}',1)" href="javascript:;" title="正常"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e1;</i></a>
							</if>
							<a title="编辑" href="{:url('role/role_edit',['id'=>$vo['id'],'option'=>'update'])}" style="text-decoration:none"><i class="Hui-iconfont" style="font-size:20px;">&#xe6df;</i></a>
							<a title="权限设置" href="{:url('role/role_edit',['id'=>$vo['id'],'option'=>'update'])}" style="text-decoration:none"><i class="Hui-iconfont" style="font-size:20px;">&#xe61d;</i></a>
							<a style="text-decoration:none" class="ml-5" onClick="admin_role_del(this,'{$vo['id']}')" href="javascript:;" title="删除"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e2;</i></a>
						</if>
					</td>
				</tr>
			</volist>
		</tbody>
	</table>
</div>
</block>
<!--模板继承 业务相关的脚本-->
<block name="js">
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">

$('.table-sort').dataTable({
	//"aaSorting": [[ 0, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  //{"orderable":true,"aTargets":[0,4]}// 制定列不参与排序
	]
});

/*管理员-角色-禁用*/
function admin_role_stop(obj,id,show){
	layer.confirm('确认要禁用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('role/role_show')}",
			data:{id:id,show:show},
			dataType: 'json',
			success: function(data){
				if(data.msg == 'success') {
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="admin_role_start(this,'+id+',1)" href="javascript:;" title="正常"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e1;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">禁用</span>');
					$(obj).remove();
					layer.msg('已禁用!',{icon: 5,time:1000});
				} else {
					layer.msg('禁用失败!',{icon:1,time:1000});
				}
			},
			error:function(data) {
				console.log(data);
			},
		});
	});
}

/*管理员-角色-正常*/
function admin_role_start(obj,id,show){
	layer.confirm('确认要正常吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('role/role_show')}",
			data:{id:id,show:show},
			dataType: 'json',
			success: function(data){
				if(data.msg == 'success') {
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="admin_role_stop(this,'+id+',2)" href="javascript:;" title="禁用"><i class="Hui-iconfont" style="font-size:20px;">&#xe631;</i></a>');
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">正常</span>');
						$(obj).remove();
						layer.msg('已正常!',{icon: 6,time:1000});
				} else {
					layer.msg('修改失败!',{icon:1,time:1000});
				}
			},
			error:function(data) {
				console.log(data);
			},
		});
	});
}

/*管理员-角色-删除*/
/*幻灯片-删除*/
function admin_role_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('role/role_delete')}",
			data:{id:id},
			dataType: 'json',
			success: function(data){
				if(data.msg == 'success') {
					//$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:800});
					setTimeout('location.reload(true)',800);
				} else {
					layer.msg('删除失败!',{icon:1,time:1000});
				}
			},
			error:function(data) {
				console.log(data);
			},
		});
	});
}
</script>
</block>