<extend name="common/base" />
<!--模板继承 业务内容-->
<block name="content">


    <title>订单列表</title>
    <!-- 放大图片插件 -->
    <!--<link href="__PUBLIC__/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css">-->
    </head>
    <body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理
        <span class="c-gray en">&gt;</span> 订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
            <i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="text-c">
            <form class="form form-horizontal" action="{:url('order/index')}" method="post">
                日期范围：<input type="text" name="start_time" id="countTimestart" onfocus="selecttime(1)" value="{$start_time ?$start_time: ''}" size="17" class="input-text Wdate" style="width:150px;" readonly>
                -
                <input type="text" name="end_time" id="countTimeend" onfocus="selecttime(2)" value="{$end_time ?$end_time: ''}" size="17"  class="input-text Wdate" style="width:150px;" readonly>
                <input type="text" name="liable" value="{$liable ?$liable: ''}" id="" placeholder="订单负责人" style="width:250px" class="input-text">
                服务:

                <select name="service_name" id="sname" class="">
                    <option value="">--请选择所属服务--</option>
                    <option value="资质转让">资质转让</option>
                    <option value="公司注册">公司注册</option>
                    <option value="工商变更">工商变更</option>
                    <option value="验资审计">验资审计</option>
                    <option value="政策规划">政策规划</option>
                    <option value="财税管理">财税管理</option>
                    <option value="APP制作">APP制作</option>
                    <option value="知识产权">知识产权</option>
                    <option value="园区服务">园区服务</option>
                    <option value="pos机">pos机</option>
                </select>

                订单状态：

                <select name="status" id="sta" class="">
                    <option value="">--请选择--</option>
                    <option value="1">等待输入价格</option>
                    <option value="2">等待支付</option>
                    <option value="3">已支付,处理中</option>
                    <option value="4">已完成</option>
                    <option value="6">非正常</option>
                </select>

                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </form>
        </div>

        <form class="form form-horizontal" action="" method="post">

            <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="picture_batch_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            <!--<a class="btn btn-primary radius" href="{:url('pact/pact_add',['order_id'=>81,'option'=>'add'])}"><i class="Hui-iconfont">&#xe600;</i> 添加订单</a>-->
            <!--<button type="submit" class="btn btn-success radius">排序</button>-->
		</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="20"><input name="" type="checkbox" value=""></th>
                        <th width="60">订单号</th>
                        <th width="100">订单负责人</th>
                        <th width="60">用户姓名</th>
                        <th width="60">手机号</th>
                        <th width="100">价格</th>
                        <th width="60">所属服务/底价</th>
                        <th width="100">用户选择内容</th>
                        <th width="100">订单状态</th>
                        <th width="100">合同管理</th>
                        <th width="100">订单进度管理</th>
                        <th width="100">添加时间</th>
                        <th width="100">备注</th>
                        <th width="80">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name='list' id='vo'>
                        <tr class="text-c">
                            <td><input name="check" type="checkbox" value="{$vo['id']}"></td>
                            <td>{$vo['ordernum']}</td>
                            <td>
                                <empty name="vo['liable']">
                                    <input type="text" name="addl" id="addl" style="width:100px;text-align:center;"/>
                                    <a href="javascript:;" onClick="addLiable({$vo.id},this)" style="cursor:pointer;">添加</a>
                                    <else />
                                    <input type="text" name="editl" id="editl" style="width:100px;text-align:center;" value="{$vo.liable}" />
                                    <a onClick="editLiable({$vo.id},this)" style="cursor:pointer;">修改</a>
                                </empty>
                            </td>
                            <td>{$vo['member']['realname']}</td>
                            <td>{$vo['member']['mobile']}</td>
                            <td>
                                <empty name="vo['price']">
                                    <input type="text" name="addl" id="addl" style="width:100px;text-align:center;"/>
                                    <a href="javascript:;" onClick="addPrice({$vo.id},this)" style="cursor:pointer;">添加</a>
                                    <else />
                                    {$vo['price']}
                                </empty>
                            </td>
                            <td>{$vo['service_name']}/{$vo['sprice']}</td>
                            <td>{$vo['content']}</td>
                            <td>{$vo['audit']?$vo['status_text']:'非正常'}</td>
                            <td>
                                <if condition="$vo['pact'] eq 1">
                                    <a href="{:url('pact/pact_add',['order_id'=>$vo['id'],'option'=>'add'])}" style="cursor:pointer;">添加</a>
                                    <else />
                                    <a href="{:url('pact/pact_edit',['order_id'=>$vo['id'],'option'=>'update'])}" style="cursor:pointer;color:red;">修改</a>
                                </if>
                            </td>
                            <td>
                                <if condition="$vo['status'] eq 3">
                                    <a href="{:url('schedule',array('id'=>$vo['id'],'status'=>$vo['status']))}" style="cursor:pointer;">管理</a>
                                    <elseif condition="$vo['status'] eq 4" />
                                    <a href="{:url('schedule',array('id'=>$vo['id'],'status'=>$vo['status']))}" style="cursor:pointer;color:red;">查看</a>
                                    <else/>
                                    暂无进度
                                </if>
                            </td>
                            <td>{$vo['create_time']}</td>
                            <td>{$vo['remark']}</td>
                            <td class="td-manage">
                                <a style="text-decoration:none" class="ml-5" href="{:url('order/audit',['id'=>$vo['id'],'option'=>'common'])}" title="审核"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e0;</i></a>
                                <a style="text-decoration:none" class="ml-5" onClick="picture_del(this,'{$vo['id']}')" href="javascript:;" title="删除"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e2;</i></a>
                            </td>
                            <input type="hidden" name="id_array[]" value="{$vo['id']}"/>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</block>
<!--模板继承 业务相关的脚本-->
<block name="js">
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/lib/lightbox2/lightbox-2.6.min.js"></script>-->
    <script type="text/javascript">
        $(function(){
            var status = "{$status}";
            $("#sta option[value="+status+"]").attr("selected",true);
        });
        /*时间插件函数*/
        function selecttime(flag){
            if(flag==1){
                var endTime = $("#countTimeend").val();
                if(endTime != ""){
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
            }else{
                var startTime = $("#countTimestart").val();
                if(startTime != ""){
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
                    WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
            }
        }
        $('.table-sort').dataTable({
            "aaSorting": [[ 11, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                //{"orderable":false,"aTargets":[0,2,3,5,6]}// 制定列不参与排序
            ]
        });
        /*添加订单负责人*/
        function addLiable(id,th){
            $_liable = $(th).parent().find("#addl").val();

            if($_liable==""){
                alert('请填写订单所属负责人');
                return false;
            }
            $_html='';
            $.ajax({
                type:"POST",
                url:"{:url('changeLiable')}",
                data:{"id":id,"liable":$_liable},
                dataType:"JSON",
                success:function(data){
                    switch(data.status){
                        case "success":
                            alert('添加成功');
                            $_html += '<input type="text" name="editl" id="editl" value="'+$_liable+'" style="width:100px;text-align:center;"/><a href="javascript:;" onClick="editLiable('+id+',this)" style="width:100px;cursor:pointer;">修改</a>';
                            $(th).parent().html($_html);
                            break;
                        default:
                            alert(data.msg);
                            break;
                    }
                }
            })
        }
        function editLiable(id,th){
            $_liable = $(th).parent().find("#editl").val();
            if($_liable==""){
                alert('请填写订单所属负责人');
                return false;
            }
            $.ajax({
                type:"POST",
                url:"{:url('changeLiable')}",
                data:{"id":id,"liable":$_liable},
                dataType:"JSON",
                success:function(data){
                    switch(data.status){
                        case "success":
                            $(th).parent().find("#editl").val($_liable);
                            alert('修改成功');
                            break;
                        default:
                            alert(data.msg);
                            break;
                    }
                }
            })
        }
        /*添加订单价格*/
        function addPrice(id,th){
            $_price = $(th).parent().find("#addl").val();

            if($_price==""){
                alert('请填写订单价格');
                return false;
            }
            $_html='';
            $.ajax({
                type:"POST",
                url:"{:url('changePrice')}",
                data:{"id":id,"price":$_price},
                dataType:"JSON",
                success:function(data){
                    switch(data.status){
                        case "success":
                            alert('添加成功');
                            $(th).parent().html($_price);
                            break;
                        default:
                            alert(data.msg);
                            break;
                    }
                }
            })
        }
        /*订单-删除*/
        function picture_del(obj,id){
            layer.confirm('确认要删除吗？',function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('order/order_delete')}",
                    data:{id:id},
                    dataType: 'json',
                    success: function(data){
                        if(data.status == 'success') {
                            //$(obj).parents("tr").remove();
                            layer.msg('已删除!',{icon:1,time:800});
                            setTimeout('location.reload(true)',800);
                        } else {
                            layer.msg('删除失败!',{icon:1,time:1000});
                        }
                    },
                    error:function(data) {
                        console.log(data);
                    },
                });
            });
        }


        /*订单-批量删除*/
        function picture_batch_del(){
            layer.confirm('确认要批量删除吗？',function(index){
                var check_value =[];
                $('input[name="check"]:checked').each(function(){
                    //封装被选中的checkbox值
                    check_value.push($(this).val());
                })
                //console.log(check_value);
                if (check_value.length===0){
                    layer.msg('请先选择要删除的订单!',{icon:2,time:1000});
                }
                $.ajax({
                    type: 'POST',
                    url: "{:url('order/order_batch_delete')}",
                    data:{"id_array":check_value},
                    dataType: 'json',
                    success: function(data){
                        if(data.status == 'success') {
                            //$(obj).parents("tr").remove();
                            layer.msg('已批量删除!',{icon:1,time:800});
                            setTimeout('location.reload(true)',800);
                        } else {
                            layer.msg('批量删除失败!',{icon:2,time:1000});
                        }
                    },
                    error:function(data) {
                        console.log(data);
                    },
                });

            });
        }
    </script>
</block>