<extend name="common/base" />
<!--模板继承 业务内容-->
<block name="content">


    <title>积分提现订单列表</title>
    <!-- 放大图片插件 -->
    <!--<link href="__PUBLIC__/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css">-->
    </head>
    <body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 积分提现管理
        <span class="c-gray en">&gt;</span> 积分提现订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
            <i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="text-c">
            <form class="form form-horizontal" action="{:url('order/integral_withdraw')}" method="post">

                订单状态：
                <span class="select-box" style="width:30%">
                <select name="status" id="sta" class="select">
                    <option value="">--请选择--</option>
                    <option value="1">待处理</option>
                    <option value="2">已处理</option>
                    <option value="3">已退回</option>
                </select>
                </span>
                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </form>
        </div>

        <form class="form form-horizontal" action="" method="post">

            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="100">提现金额</th>
                        <th width="100">支付宝</th>
                        <th width="100">支付宝绑定姓名</th>
                        <th width="100">联系方式</th>
                        <th width="100">订单状态</th>
                        <th width="100">申请时间</th>
                        <th width="180">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name='list' id='vo'>
                        <tr class="text-c">
                            <td>{$vo['money']}</td>
                            <td>{$vo['account']}</td>
                            <td>{$vo['realname']}</td>
                            <td>{$vo['member']['mobile']}</td>
                            <td id="order_status">{$vo['status_text']}</td>
                            <td>{$vo['create_time']}</td>
                            <td class="td-manage">
                                <if condition="$vo['status'] eq 1">
                                    <a href="javascript:void(0)" onclick="confirmWith({$vo.id},this)" title="审核通过"><i class="Hui-iconfont" style="font-size:20px;">&#xe6a7;</i></a>
                                    <a href="javascript:void(0)" onclick="backWith({$vo.id},this)" title="审核退回"><i class="Hui-iconfont" style="font-size:20px;">&#xe6a6;</i></a>
                                    <else/>
                                    已处理
                                </if>
                             </td>
                            <input type="hidden" name="id_array[]" value="{$vo['id']}"/>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</block>
<!--模板继承 业务相关的脚本-->
<block name="js">
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>

    <script type="text/javascript">
        $(function(){
            var status = "{$status}";
            $("#sta option[value="+status+"]").attr("selected",true);
        });

        $('.table-sort').dataTable({
            "aaSorting": [[ 11, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                //{"orderable":false,"aTargets":[0,2,3,5,6]}// 制定列不参与排序
            ]
        });
        function debt(id,price){
            if(confirm("确认进行催账吗？")){
                $.ajax({
                    type:"POST",
                    url:"{:url('debt')}",
                    data:{"id":id,"price":price},
                    dataType:"JSON",
                    success:function(data){
                        switch(data.status){
                            case "success":
                                layer.msg('催单成功!',{icon:1,time:800});
                                setTimeout('location.reload(true)',800);
                                break;
                            default:
                                alert(data.msg);
                                break;
                        }
                    },
                    error:function(){
                        alert("服务器错误,请重试");
                    }
                });
            }
        }

        function confirmWith(id,th){
            if(confirm("确认通过？")){
                $.ajax({
                    type:"POST",
                    url:"{:url('order/confirm_withdraw')}",
                    data:{"id":id},
                    dataType:"JSON",
                    success:function(data){
                        switch(data.status){
                            case "success":
                                console.log($(th))
                                $(th).parents("tr").find('.order_status').text('已通过');
                                $(th).parents('.td-manage').html('已处理');
                                break;
                            default:
                                alert(data.msg);
                                break;
                        }
                    },
                    error:function(){
                        alert.msg("服务器错误，请重试");
                    }
                })
            }
        }
        function backWith(id,th){
            if(confirm("确认退回？")){
                $.ajax({
                    type:"POST",
                    url:"{:url('order/back_withdraw')}",
                    data:{"id":id},
                    dataType:"JSON",
                    success:function(data){
                        switch(data.status){
                            case "success":
                                alert('退回成功')
                                $(th).parents("tr").find('.order_status').text('已退回');
                                $(th).parent('.td-manage').html('已处理');
                                break;
                            default:
                                alert(data.msg);
                                break;
                        }
                    },
                    error:function(){
                        alert.msg("服务器错误，请重试");
                    }
                })
            }
        }
        /*订单-删除*/
        function picture_del(obj,id){
            layer.confirm('确认要删除吗？',function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('order/order_delete')}",
                    data:{id:id},
                    dataType: 'json',
                    success: function(data){
                        if(data.msg == 'success') {
                            //$(obj).parents("tr").remove();
                            layer.msg('已删除!',{icon:1,time:800});
                            setTimeout('location.reload(true)',800);
                        } else {
                            layer.msg('删除失败!',{icon:1,time:1000});
                        }
                    },
                    error:function(data) {
                        console.log(data);
                    },
                });
            });
        }


        /*订单-批量删除*/
        function picture_batch_del(){
            layer.confirm('确认要批量删除吗？',function(index){
                var check_value =[];
                $('input[name="check"]:checked').each(function(){
                    //封装被选中的checkbox值
                    check_value.push($(this).val());
                })
                //console.log(check_value);
                if (check_value.length===0){
                    layer.msg('请先选择要删除的订单!',{icon:2,time:1000});
                }
                $.ajax({
                    type: 'POST',
                    url: "{:url('order/order_batch_delete')}",
                    data:{"id_array":check_value},
                    dataType: 'json',
                    success: function(data){
                        if(data.msg == 'success') {
                            //$(obj).parents("tr").remove();
                            layer.msg('已批量删除!',{icon:1,time:800});
                            setTimeout('location.reload(true)',800);
                        } else {
                            layer.msg('批量删除失败!',{icon:2,time:1000});
                        }
                    },
                    error:function(data) {
                        console.log(data);
                    },
                });

            });
        }
    </script>
</block>