<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>新手引导</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/style/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/style/css/basics_.css" />
		<script type="text/javascript" src="__PUBLIC__/static/style/js/index.js"></script>
	</head>
	<body>
		<div class="wrap">
			<div class="datalist">
				<foreach name="list_consult" item="vo">
					<a href="{:url('content/detail',['consult_id'=>$vo['consult_id']])}">
						<div class="row">
							<div>{$vo['title']}</div>
							<img src="__PUBLIC__/static/style/images/inquiry/TurnContent-Help.png" />
						</div>
					</a>
				</foreach>
			</div>
		</div>
	</body>
</html>