<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>教学视频</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/style/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/style/css/teaching_.css"/>
</head>
<body>
	<div class="wrap">
		<foreach name="list_video" item="vo">
			<div class="stock">
				<div class="tipstitle">
					{$vo['name']}
				</div>
				<div class="stock_list">
					<foreach name="vo['video']" item="v">
						<a class="row_box" href="{$v['link']}">
							<div>
								<img src="{$v['picture']}"/>
								<span>{$v['title']}</span>
							</div>
						</a>
					</foreach>
				</div>
			</div>
		</foreach>
	</div>
	<script type="text/javascript">
		
	</script>
</body>
</html>