<!--引入meta模板-->
<include file="common/meta" />

<title>一棵松</title>
<meta name="keywords" content="一棵松">
<meta name="description" content="一棵松">
</head>
<body>

<!--引入header和menu模板-->
<include file="common/header,common/menu" />

<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active"><span title="我的桌面" data-href="{:url('home/welcome')}">我的桌面</span><em></em></li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src="{:url('home/welcome')}"></iframe>
		</div>
	</div>
</section>

<div class="contextMenu" id="Huiadminmenu">
	<ul>
		<li id="closethis">关闭当前 </li>
		<li id="closeall">关闭全部 </li>
	</ul>
</div>
<audio id="music" controls="controls" preload="auto" >
  <source src="__PUBLIC__/static/style/js/tixing.mp3" type="audio/mpeg" />
	您的浏览器不支持音乐播放。
</audio>

<!--引入footer模板-->
<include file="common/footer" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript">
$(function(){
	music();//1000为1秒钟
	function music() {
    	var timer=setInterval(function(){
    		$.ajax({
			type: 'POST',
			url: "{:url('home/subscribe')}",
			data:{},
			dataType: 'json',
			success: function(data){
				switch(data.msg) {
				case 1:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#enquiry_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('您有新的询价信息，请注意查看');
							break;
					}
				  break;
				case 2:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#register_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('新的经纪注册信息，请打开【用户管理】-【经纪注册列表】查看。');
							break;
					}
				  break;
				case 12:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#enquiry_i').addClass('tip');
					$('#register_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('您有新的询价和经纪人注册信息，请注意查看');
							break;
					}
				  break;
				case 3:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#leave_word_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('您有新的在线留言提交信息，请注意查看');
							break;
					}
				  break;
				case 13:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#enquiry_i').addClass('tip');
					$('#leave_word_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('您有新的询价和在线留言提交信息，请注意查看');
							break;
					}
				  break;
				case 23:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#leave_word_i').addClass('tip');
					$('#register_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('您有新的经纪人注册和在线留言提交信息，请注意查看');
							break;
					}
				  break;
				case 123:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#enquiry_i').addClass('tip');
					$('#leave_word_i').addClass('tip');
					$('#register_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('您有新的询价、经纪人注册和在线留言提交信息，请注意查看');
							break;
					}
				  break;
				default:
				 return false;
				}
			},
			error:function(data) {
				console.log(data);
			},
		});
    	},10000);
    }

    port();//1000为1秒钟
	function port() {
    	var timer=setInterval(function(){
    		$.ajax({
			type: 'POST',
			url: "{:url('home/port_subscribe')}",
			data:{},
			dataType: 'json',
			success: function(data){
				switch(data.msg) {
				case 1:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#port_apply_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('您有新的数据接口申请信息，请注意查看');
							break;
					}
				  break;
				case 2:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#port_renew_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('您有一个待处理【接口延期】任务请到接口管理中查看。');
							break;
					}
				  break;
				case 12:
				  	var myVideo=document.getElementById("music");
					myVideo.play();
					$('#port_apply_i').addClass('tip');
					$('#port_renew_i').addClass('tip');
					switch(data.remind_status) {
						case 1 :
							alert('您有新的数据接口申请和接口延期信息，请注意查看');
							break;
					}
				  break;
				
				default:
				 return false;
				}
			},
			error:function(data) {
				console.log(data);
			},
		});
    	},8000);
    }
});
</script> 

</body>
</html>